
<div class="row">
    <div class="col-12">
        <div class="header-wrapper">
            <div class="logo-wrapper">
                <p style="color: red">{{itemCount}}</p>
                <img src="../../../assets/callawind-logo.png" style="width:400px;height:150px;">
                <!-- <button class="cart-btn" ><i class="fa fa-shopping-cart" style="font-size:48px;color:black;"></i></button> -->
                <div class="cart-logo float-right :;">
                    <button type="button" ><i class="fa fa-shopping-cart" style="font-size:28px;color:white;"></i></button>
                </div>
            </div>

        </div>
    </div>
</div>
  