<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-3 book-card" *ngFor="let book of books">
      <div class="card" style="width: 18rem;">
          <img src="http://www.pngmart.com/files/1/Book-PNG-HD.png" class="card-img-top" alt="sample_book">
          <div class="card-body book-body">
            <h5 class="card-title">{{book.Title}} - P {{book.PageCount}}.00</h5>
            <p class="card-text">{{book.Description}}</p>
            <button (click)="addToCart(book)" class="btn btn-warning"><i class="fas fa-shopping-cart"></i>&ensp;Add to Cart</button>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->

  <!-- <button (click)="post()">test post</button> -->

